@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    background-color: black;
}

#geral{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#caixa{ 
    background-color: black;
    color: white;
    border: solid 1px darkgrey;
    border-radius: 10px;
    width: 45%;
    height: 70%;
}

#caixa :hover{
}

#caixa-um{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#um{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 99%;
    border-radius: 15px;
    height: 30px;
}


#dois{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 50%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#quatro{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 33%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#cinco{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 40%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#seis{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 10%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#seis-meio{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 90%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#sete{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 15%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#sete-meio{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 85%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#oito{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 25%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#oito-meio{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 75%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#nove{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 35%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#nove-meio{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 65%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#dez{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 45%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#dez-meio{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 55%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#onze{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 50%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}

#onze-meio{
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    width: 50%;
    border-radius: 15px;
    height: 30px;
    margin: 5px;
}